<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>53</integer>
	<key>LibraryBuildTag</key>
	<string>A155B093-329A-4AEF-B7C2-CA4C602C7C5D</string>
	<key>LibrarySchemaVersion</key>
	<integer>4014</integer>
</dict>
</plist>
